
  <a href="/users/add" class="btn btn-primary mb-5">Add new user</a>
  
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col" class="text-end">Action</th>
      </tr>
    </thead>
    <tbody>
      <% if(!users.length) { %>
        <tr>
          <td colspan="5">There are no any users in the database to display....</td>
        </tr>
      <% } else { %>
        <% users.map(({ id, name, email, birthDate }) => { %>
          <tr>
            <td><%= id %></td>
            <td><%= name %></td>
            <td><%= email %></td>
            <td><%= birthDate %></td>
            <td class="text-end">
              <a href="/users/<%= id %>" type="button" class="btn btn-small btn-dark"><i class="bi bi-eye"></i>&nbsp; View</a>
              <a href="#" type="button" class="btn btn-small btn-dark"><i class="bi bi-pencil"></i>&nbsp; Edit</a>
              <a href="#" type="button" class="btn btn-small btn-dark"><i class="bi bi-person-x"></i>&nbsp; Delete</a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>

